@model Integrador.Models.Helper.DispositivoConcreto

@{
    ViewBag.Title = "Agregar dispositivo inteligente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<h2>Agregar dispositivo inteligente</h2>


@using (Html.BeginForm("Create", "DispositivoInteligente", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Dispositivo: </label>
                @Html.DropDownListFor(x => x.IdDispositivo, new SelectList(ViewBag.Dispositivos, "Value", "Text"), new { @class = "form-control dropdown-field" })
            </div>
        </div>
        <input type="submit" value="Agregar" class="btn btn-default" style="color: whitesmoke; background-color: indigo" />
        <br><br>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente")
</div>
