@{
    ViewBag.Title = "Mis dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 10px">
    <h2>Importar Dispositivos </h2>
    <span> Seleccione el archivo .JSON </span>
</div>


@using (Html.BeginForm("CargarInteligente", "DispositivoCliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @ViewBag.IError
        <b>Dispositivos inteligentes</b>
        <br />
        JSON File <input type="file" name="jsonFile" />
        <br />
        <input type="submit" value="Cargar"class="btn btn-default" style="color: whitesmoke; background-color: indigo" />
    </div>
}

<br />

@using (Html.BeginForm("CargarEstandar", "DispositivoCliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @ViewBag.EError
        <b>Dispositivos estandar</b>
        <br />
        JSON File <input type="file" name="jsonFile" />
        <br />
        <input type="submit" value="Cargar" class="btn btn-default" style="color: whitesmoke; background-color: indigo"/>
    </div>
}

@Html.ActionLink("Volver al listado", "Index", "DispositivoCliente", new { id = Session["ClientId"] }, null)
