@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Cargar Zonas</h2>
        @using (Html.BeginForm("Cargar", "Zona", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>
                <input type="file" name="jsonFile" />
            </p>
            <p>
                <input type="submit" value="Cargar" />
            </p>
        }
    </div>
    <div class="col-md-4">
        <h2>Cargar dispositivos</h2>
        @using (Html.BeginForm("Cargar", "Dispositivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @ViewBag.Error
                <input type="file" name="jsonFile" />
                <br />
                <input type="submit" value="Cargar" />
            </div>
        }
        <div class="col-md-2"></div>
    </div>
