@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke">
    <h1>Sistema de Gestión Energética</h1>
    <p class="lead">SGE es un sistema inspirado en la gestión energética de los clientes industriales y residenciales, cuyo objetivo es lograr que estos últimos logren convertir su casa o departamento en un "hogar eficiente".</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Por qué debería ahorrar energía?</h2>
        <p>
            El 24 de febrero de 2017 se produjo el máximo histórico de consumo en la Ciudad
            de Buenos Aires. La temperatura fue de 33°C y se registraron 79.144 hogares sin
            luz.
            Una manera de mitigar el problema de los cortes de suministro eléctrico es a través
            de la eficiencia energética.
        </p>
        <img src="~/Images/electricidad.jpg" style="height: 300px; width: 350px; border-radius: 4px; border: 1px solid #920a0a; padding: 5px; " />
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>¿Qué es la eficiencia energética?</h2>
        <p>Es un concepto que no significa privaciones ni sacrificios. En realidad, la eficiencia energética implica el aprovechamiento consciente de la energía disponible, sin afectar la calidad de vida de las personas.</p>
        <br /><br />
        <img src="~/Images/bulb-light.jpg" style="height: 300px; width: 350px; border-radius: 4px; border: 1px solid #920a0a; padding: 5px;" />
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>¿Cómo lograr eficientizar mi hogar?</h2>
        <p>A través de una serie de cálculos y algoritmos, SGE podrá determinar, de acuerdo a los artefactos consumidores de energía eléctrica que usted posea, la manera más eficiente de utilizar cada uno de ellos.</p>
        <br /><br />
        <img src="~/Images/casa.jpg" style="height: 300px; width: 350px; border-radius: 4px; border: 1px solid #920a0a; padding: 5px;" />
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
    </div>
</div> 


