@using Integrador.Services;

@{ 
    ViewBag.Title = "Mi puntaje";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-left: 40px; padding-bottom: 20px; padding-top: 15px">
    <h1 style="margin-bottom:20px">Mi puntaje</h1>
    <p class="lead">SGE otorga puntos a sus clientes cada vez que registran un dispositivo inteligente o adaptan un dispositivo estándar.</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Ver mi puntaje
    </button>
</div>

    

@{ 
    ClienteService clienteService = new ClienteService();

    string nombre = clienteService.NombreCliente(Session["Username"].ToString());
    string apellido = clienteService.ApellidoCliente(Session["Username"].ToString());
    int puntos = clienteService.PuntosCliente(Session["Username"].ToString());
}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding-bottom: 10px">
                   <label> Usted acumula @puntos puntos.</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

