@{
    ViewBag.Title = "Reportes";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px; padding-left: 30px">
    <h2>Reportes</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h3> - @Html.ActionLink("Transformadores", "Transformador", "Report") </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3> - @Html.ActionLink("Hogar", "Hogar", "Report") </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>- @Html.ActionLink("Dispositivo", "Dispositivo", "Report") </h3>
    </div>
</div>