@{
    ViewBag.Title = "Reportes";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px; padding-left: 30px">
    <h1>Reportes</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Transformadores", "Transformador", "Report") </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Hogar", "Hogar", "Report") </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Dispositivo", "Dispositivo", "Report") </h2>
    </div>
</div>