<body>

    <div id="notfound">
        <div class="notfound">
            <h1 style="text-decoration-color:aqua!important; font-size: 5em ">404</h1>
            <h2>Oops! Esta pagina no existe</h2>
            <p>La página que esta tratando de buscar no existe, o no esta disponible.</p>
            @Html.ActionLink("Volver al Inicio", "Index", "Home")
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
