@if (Session["Username"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuario")</li>
    </ul>
}

else
{

    <ul class="nav navbar-nav navbar-right">
        @if (Session["Role"] == "Admin")
    {
        <li>
            @Html.ActionLink((string)Session["Username"], "Index", "Home")
        </li>
}
else
{
    <li>
        @Html.ActionLink((string)Session["Username"], "Index", "Home")
    </li>
}
        <li>@Html.ActionLink("Cerrar sesión", "LogOut", new { Controller = "Usuario"})</li>
    </ul>
    

}
