@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<body>
    <div id="notfound">
        <div class="notfound">
            <h1 style="text-decoration-color:aqua!important; font-size: 5em ">500</h1>
            <h2>Oops! Algo se rompió!</h2>
            <p>Lo lamentamos, ocurrio un problema grave, estaremos trabajando para arreglarlo.</p>
            @Html.ActionLink("Volver al Inicio", "Index", "Home")
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
